body {
    margin: 0px;
    padding: 0px;
    --primary-color: #f2f1f0;
    --secondary-color: #bf620b;
    --third-color: #c4c1be;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: sans-serif, Helvetica, Arial;
}

/* NAV START */
nav {
    display: flex;
    background-color: var(--primary-color);
    padding: 25px 0px 10px 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}


.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* NAV END */

/* HERO IMG */

#hero {
    height: 1201px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero-img {
    height: 1200px;
    width: 100%;
    object-fit: cover
}

/* HERO ENDS */

/* ABOUT ME BEGINS */

.my-info {
    padding: 230px;
    background-color: var(--third-color);
    border: black 2px solid;
    position: absolute;
    top: 872px;
    left: 262px;
}

.spacing-between {
    padding: 80px 100%;
    background-color: var(--primary-color);
}

/* FOOTER */

