body {
    margin: 0px;
    padding: 0px;
    --primary-color: #f2f1f0;
    --secondary-color: #bf620b;
    --third-color: #c4c1be;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: sans-serif, Helvetica, Arial;
}

.primary-title {
    font-family: var(--primary-font);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.primary-text {
    font-family: var(--primary-font);
    display: flex;
    flex-wrap: wrap;
}

/* NAV START */
nav {
    display: flex;
    background-color: var(--primary-color);
    padding: 25px 0px 10px 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    border-bottom: black solid 2px;
}


.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* NAV END */

/* HERO IMG */

#hero {
    height: 1201px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero-img {
    height: 1200px;
    width: 100%;
    object-fit: cover;
    border-bottom: black solid 2px;
}

/* HERO ENDS */

/* ABOUT ME BEGINS */

.my-info {
    padding: 230px;
    background-color: var(--third-color);
    border: black 2px solid;
    position: absolute;
    top: 872px;
    left: 262px;
}

.spacing-between {
    padding: 80px 100%;
    background-color: var(--primary-color);
}

/* PROJECTS */

#service {
    height: 300px;
    width: 100%;
    border: solid black 4px;
    background-color: var(--secondary-color);
}

.service-info {
    color: var(--third-color);
}

.service-title {
    font-size: 30px;
}

.service-text {
    text-align: center;
    line-height: 26px;
    font-size: 25px
}

/* PROJECTS END */

/* FOOTER */

#contact-me {
    padding: 300px 0 20px 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin: 0 auto;
}

#contact-form {
    margin: 0 auto;
    width: 900px
}


.form-container {
    border: solid black 2px;
}

.find-me {
    margin: 0 auto;
}


.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: black solid 2px;
}



.input-names {
    width: 180%;
}

.name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.duo-container {
    display: gird;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}